{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Production Management App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "production_assist/css/bootstrap.css" %}">
</head>
<body>
<div class="container-fluid">
    {% include 'production_assist/navbar.html' %}


    <div class="container mt-3">
        {% include 'production_assist/messages.html' %}

        {% if search_form %}
            {% include 'production_assist/search-form.html' %}
        {% endif %}

        {% block content %}
            <h2>Production Management Assist</h2>
            <p>App under development</p>
        {% endblock %}

        {#    pagination section    #}
        {% if is_paginated %}
            {% include 'production_assist/pagination.html' %}
        {% endif %}
    </div>
</div>

<script src="{% static "production_assist/js/jquery-3.3.1.js" %}"></script>
<script src="{% static "production_assist/js/bootstrap.js" %}"></script>
{% block js %}
{% endblock %}
{% if search_form %}
    {% include 'production_assist/js-search-form.html' %}
{% endif %}

{% include 'production_assist/footer.html' %}
</body>
</html>