{% extends 'production_assist/base.html' %}

{% block title %}Person Detail{% endblock %}

{% block content %}
    <span class="h2 pull-left">Person</span>
    <input class="btn btn-dark mb-2 d-inline" type="button"
           onclick="location.href='{% url 'company-person-update-view' person.company.id person.id %}'" value="Edit"/>
    <p class="h4 mt-3 ml-0 mb-3">
        <button type="button" class="btn btn-light font-weight-bold"
                onclick="location.href='{% url 'company-detail-view' person.company.id %}'">
            {{ person.company }}</button>
    </p>
    {#      company section      #}
    <div class="mt-2 mb-3">
        <p><strong>Name: </strong>{{ person }}</p>
        <p><strong>Position: </strong>{{ person.position }}</p>
        <p><strong>Phone: </strong>{{ person.phone }}</p>
        <p><strong>Email: </strong>{{ person.email }}</p>
        <div class="container-fluid">
            <div class="row">
                {#      managed offers section      #}
                <div class="col-md-6">
                    <button id="offers" class="btn btn-light font-weight-bold mb-3">Managed Offers</button>
                    {% include 'production_assist/person-offers-list.html' %}
                </div>
                {#      empty section      #}
                <div class="col-md-6">
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    {% include 'production_assist/list-show-siblings-js.html' %}
    {% include 'production_assist/person-detail-js.html' %}
{% endblock %}
