{% load mathfilters %}
<div class="container mt-0 d-none">
    {% if offer.offerretail_set.all %}
        {% for object in offer.offerretail_set.all %}
            <div class="mb-3">
                <ol class="list-group list-group-flush col-lg-auto list-unstyled">
                    <li class="list-group-item"><strong>{{ object.retail }} : {{ object.retail.drawing_number }}</strong>
                    </li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Quantity: </strong>{{ object.quantity }}</li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Price: </strong>{{ object.retail.price }} zł</li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Total: </strong>{{ object.quantity|mul:object.retail.price }} zł</li>
                    <li class="ml-4 d-none">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-0">
                                <input class="btn btn-dark" type="button"
                                       onclick="location.href='{% url 'offer-retail-update-view' object.offer.id object.retail.id %}'"
                                       value="Edit"/>
                            </li>
                            <li class="list-inline-item mr-0">
                                <input class="btn btn-dark list-inline-item" type="button"
                                       onclick="location.href='{% url 'offer-retail-delete-view' object.offer.id object.retail.id %}'"
                                       value="Delete"/>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        {% endfor %}
    {% else %}
        <p class="ml-3">No Retails for this Offer</p>
    {% endif %}
</div>