{% extends 'production_assist/base.html' %}

{% block title %}Retail Detail{% endblock %}

{% block content %}
    <span class="h2 pull-left">Retail</span>
    <input class="btn btn-dark mb-2 d-inline" type="button"
           onclick="location.href='{% url 'company-retail-update-view' object.company.id object.id %}'" value="Edit"/>
    <p class="h4 mt-3 ml-0 mb-3">
        <button type="button" class="btn btn-light font-weight-bold"
                onclick="location.href='{% url 'company-detail-view' object.company.id %}'">
            {{ object.company }}</button>
    </p>
    {#      retail section      #}
    <div class="mt-2 mb-3">
        <div class="row">
            <div class="col-md-auto">
                <p><strong>Name: </strong>{{ object.name }}</p>
                <p><strong>Drawing number: </strong>{{ object.drawing_number }}</p>
                <p><strong>Material: </strong>{{ object.material }}</p>
                <p><strong>Thickness: </strong>{{ object.thickness }}</p>
                <p><strong>Width: </strong>{{ object.width }}</p>
                <p><strong>Length: </strong>{{ object.length }}</p>
                <p><strong>Cutting length: </strong>{{ object.cutting_length }}</p>
                <p><strong>Cutting time: </strong>{{ object.cutting_time }}</p>
                <p><strong>Price: </strong>{{ object.price }}</p>
            </div>
            <div class="col-md-auto">
                <strong>Description: </strong>
                <blockquote class="blockquote">{{ object.description }}</blockquote>
                <strong>Additional Information</strong>
                {% for obj in object.retailinformation_set.all %}
                    <blockquote class="blockquote">
                        <p class="mb-0">{{ obj }}
                            <span class="font-italic">{{ obj.create_date }}</span></p>
                    </blockquote>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                {#      in offers section      #}
                <div class="col-md-6">
                    <button id="offers" class="btn btn-light font-weight-bold mb-3">In Offers</button>
                    {% include 'production_assist/offers-additional-list.html' %}
                </div>
                {#      empty section      #}
                <div class="col-md-6">
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    {% include 'production_assist/js-list-show-siblings.html' %}
    {% include 'production_assist/js-show-details.html' %}
{% endblock %}
