{% extends 'production_assist/base.html' %}

{% block title %}Company List{% endblock %}

{% block content %}
    <span class="h2 pull-left">Companies</span>
    <input class="btn btn-dark mb-2 d-inline" type="button"
           onclick="location.href='{% url 'company-create-view' %}'" value="Add"/>
    {% for obj in object_list %}
        <div class="mt-3 mb-3">
            <ol class="list-unstyled list-group list-group-flush col-lg-7">
                <li class="list-group-item"><strong>{{ obj.name }}</strong></li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Address: </strong>{{ obj.companydetails.address }}</li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Phone: </strong>{{ obj.companydetails.phone }}</li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Email: </strong>{{ obj.companydetails.email }}</li>
                <li class="ml-4 d-none">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark" type="button" onclick="location.href='{{ obj.get_absolute_url }}'"
                                   value="More info"/>
                        </li>
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark list-inline-item" type="button"
                                   onclick="location.href='{% url 'company-person-list-view' obj.id %}'" value="Personnel"/>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    {% include 'production_assist/list-show-siblings-js.html' %}
{% endblock %}
