{% extends 'production_assist/base.html' %}

{% block title %}Personnel List{% endblock %}

{% block content %}
    <span class="h2 pull-left">Personnel</span>
    <button type="button" class="btn btn-light font-weight-bold mb-3"
            onclick="location.href='{% url 'company-detail-view' company.id %}'">{{ company }}</button>
    {% for obj in object_list %}
        <div class="mt-3 mb-3">
            <ol class="list-unstyled list-group list-group-flush col-lg-7 list-unstyled">
                <li class="list-group-item"><strong>{{ obj }}</strong></li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Position: </strong>{{ obj.position }}</li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Phone: </strong>{{ obj.phone }}</li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Email: </strong>{{ obj.email }}</li>
                <li class="ml-4 d-none">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark"
                                   type="button" onclick="location.href='{{ obj.get_absolute_url }}'"
                                   value="More info"/>
                        </li>
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark"
                                   type="button"
                                   onclick="location.href='{% url 'company-person-update-view' company.id obj.id %}'"
                                   value="Edit"/>
                        </li>
                    </ul>
            </ol>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    {% include 'production_assist/list-show-siblings-js.html' %}
{% endblock %}
