{% extends 'production_assist/base.html' %}

{% block title %}Person Detail{% endblock %}

{% block content %}
    <p class="h4 mt-3 ml-0 mb-3">
        <button type="button" class="btn btn-light font-weight-bold"
                onclick="location.href='{% url 'company-detail-view' object.company.id %}'">
            {{ object.company }}</button>
    </p>
    <span class="h2 pull-left">{{ object }}</span>
    <input class="btn btn-dark mb-3 d-inline" type="button"
           onclick="location.href='{% url 'company-person-update-view' object.company.id object.id %}'" value="Edit"/>
    {#      person section      #}
    <div class="mt-2 mb-3">
        <p><strong>Position: </strong>{{ object.position }}</p>
        <p><strong>Phone: </strong>{{ object.phone }}</p>
        <p><strong>Email: </strong>{{ object.email }}</p>
        <div class="container-fluid">
            <div class="row">
                {#      managed offers section      #}
                <div class="col-md-6">
                    <button id="offers" class="btn btn-light font-weight-bold mb-3">Managed Offers</button>
                    {% include 'production_assist/offers-additional-list.html' %}
                </div>
                {#      empty section      #}
                <div class="col-md-6">
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js %}
    {% include 'production_assist/js-list-show-siblings.html' %}
    {% include 'production_assist/js-show-details.html' %}
{% endblock %}
