<div class="container mt-0 d-none">
    {% if object.offer_set.all %}
        {% for obj in object.offer_set.all|slice:'10' %}
            <div class="mb-3">
                <ol class="list-group list-group-flush col-lg-5 list-unstyled">
                    <li class="list-group-item"><strong>{{ obj }}</strong></li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Status: </strong> {{ obj.get_status_display }}
                    </li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Final date: </strong> {{ obj.final_date }}
                    </li>
                    <li class="ml-4 d-none">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-0">
                                <input class="btn btn-dark" type="button"
                                       onclick="location.href='{% url 'company-offer-detail-view' obj.company.id obj.id %}'"
                                       value="More info"/>
                            </li>
                            <li class="list-inline-item mr-0">
                                <input class="btn btn-dark list-inline-item" type="button"
                                       onclick="location.href='{% url 'company-offer-update-view' obj.company.id obj.id %}'"
                                       value="Edit"/>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        {% endfor %}
    {% else %}
        <p class="ml-3">No Offers in this Company </p>
    {% endif %}
</div>