{% extends 'production_assist/base.html' %}

{% block title %}Offer Detail{% endblock %}

{% block content %}
    <span class="h2 pull-left">Offers</span>
    <input class="btn btn-dark mb-2 d-inline" type="button"
           onclick="location.href='{% url 'company-offer-update-view' offer.company.id offer.id %}'" value="Edit"/>
    <p class="h4 mt-3 ml-0 mb-3">
        <button type="button" class="btn btn-light font-weight-bold"
                onclick="location.href='{% url 'company-detail-view' offer.company.id %}'">
            {{ offer.company }}</button>
        {% if offer.person %}
            <button type="button" class="btn btn-light font-weight-bold"
                    onclick="location.href='{% url 'person-detail-view' offer.person.id %}'">
                {{ offer.person }}</button>
        {% endif %}
    </p>
    {#      retail section      #}
    <div class="mt-2 mb-3">
        <p><strong>Status: </strong>{{ offer.get_status_display }}</p>
        <p><strong>Final date: </strong>{{ offer.final_date }}</p>
        <p><strong>Created date: </strong>{{ offer.create_date }}</p>
        <p><strong>Total Price: </strong>{{ total_price }} zł</p>
        <div class="container-fluid">
            <div class="row">
                {#      retails included in offer section      #}
                <div class="col-md-6">
                    <button id="retails" class="btn btn-light font-weight-bold mb-3">Retails</button>
                    <button class="btn btn-dark mb-3"
                            onclick="location.href='{% url 'offer-retail-create-view' offer.id %}'">Add
                    </button>
                    {% include 'production_assist/company-offer-retails-list.html' %}
                </div>
                {#      empty section      #}
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'production_assist/list-show-siblings-js.html' %}
    {% include 'production_assist/offer-detail-js.html' %}
{% endblock %}
