{% extends 'production_assist/base.html' %}

{% block title %}Offer Detail{% endblock %}

{% block content %}
    <p class="h4 mt-3 ml-0 mb-3">
        <button type="button" class="btn btn-light font-weight-bold"
                onclick="location.href='{% url 'company-detail-view' object.company.id %}'">
            {{ object.company }}</button>
        {% if offer.person %}
            <button type="button" class="btn btn-light font-weight-bold"
                    onclick="location.href='{% url 'company-person-detail-view' object.company.id object.person.id %}'">
                {{ offer.person }}</button>
        {% endif %}
    </p>
    <span class="h2 pull-left">{{ object }}</span>
    <input class="btn btn-dark mb-3 d-inline" type="button"
           onclick="location.href='{% url 'company-offer-update-view' offer.company.id offer.id %}'" value="Edit"/>
    {#      offer section      #}
    <div class="mt-2 mb-3">
        <div class="row">
            <div class="col-md-auto">
                <p><strong>Status: </strong>{{ object.get_status_display }}</p>
                <p><strong>Final date: </strong>{{ object.final_date }}</p>
                <p><strong>Created date: </strong>{{ object.create_date }}</p>
                <p><strong>Total Price: </strong>{{ total_price }} zł</p>
            </div>
            <div class="col-md-auto">
                <strong>Additional Information</strong>
                {% for obj in object.offerinformation_set.all %}
                    <p class="mb-0">{{ obj }} <span class="font-italic">{{ obj.create_date }}</span></p>
                {% endfor %}
            </div>
        </div>
        {#      retail section      #}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <button id="retails" class="btn btn-light font-weight-bold mb-3">Retails</button>
                    <button class="btn btn-dark mb-3"
                            onclick="location.href='{% url 'offer-retail-create-view' object.id %}'">
                        Add
                    </button>
                    {% include 'production_assist/offer-retails-list.html' %}
                </div>
                {#      empty section      #}
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'production_assist/js-list-show-siblings.html' %}
    {% include 'production_assist/js-show-details.html' %}
{% endblock %}
