{% extends 'production_assist/base.html' %}

{% block title %}Retail Detail{% endblock %}

{% block content %}
    <span class="h2 pull-left">Retail</span>
    <input class="btn btn-dark mb-2 d-inline" type="button"
           onclick="location.href='{% url 'company-retail-update-view' retail.company.id retail.id %}'" value="Edit"/>
    <p class="h4 mt-3 ml-0 mb-3">
        <button type="button" class="btn btn-light font-weight-bold"
                onclick="location.href='{% url 'company-detail-view' retail.company.id %}'">
            {{ retail.company }}</button>
    </p>
    {#      company section      #}
    <div class="mt-2 mb-3">
        <p><strong>Name: </strong>{{ retail.name }}</p>
        <p><strong>Drawing number: </strong>{{ retail.drawing_number}}</p>
        <p><strong>Material: </strong>{{ retail.material }}</p>
        <p><strong>Thickness: </strong>{{ retail.thickness }}</p>
        <p><strong>Width: </strong>{{ retail.width }}</p>
        <p><strong>Length: </strong>{{ retail.length }}</p>
        <p><strong>Cutting length: </strong>{{ retail.cutting_length }}</p>
        <p><strong>Cutting time: </strong>{{ retail.cutting_time }}</p>
        <p><strong>Price: </strong>{{ retail.price }}</p>
        <div class="container-fluid">
            <div class="row">
                {#      included in offers section      #}
                <div class="col-md-6">
                    <button id="offers" class="btn btn-light font-weight-bold mb-3">In Offers</button>
                    {% include 'production_assist/retail-offers-list.html' %}
                </div>
                {#      empty section      #}
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'production_assist/list-show-siblings-js.html' %}
    {% include 'production_assist/person-detail-js.html' %}
{% endblock %}
