<div class="container mt-0 d-none">
    {% if object.offerretail_set.all %}
        {% for obj in object.offerretail_set.all %}
            <div class="mb-3">
                <ol class="list-group list-group-flush col-lg-auto list-unstyled">
                    <li class="list-group-item"><strong>{{ obj.retail }} : {{ obj.quantity }}</strong></li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Material: </strong> {{ obj.retail.material }}
                    </li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Drawing number: </strong> {{ obj.retail.drawing_number }}
                    </li>
                    <li class="ml-4 d-none">
                        <ul class="list-inline">
                            <li class="list-inline-item mr-0">
                                <input class="btn btn-dark" type="button"
                                       onclick="location.href='{% url 'company-retail-detail-view' obj.retail.company.id obj.retail.id %}'"
                                       value="More info"/>
                            </li>
                            <li class="list-inline-item mr-0">
                                <input class="btn btn-dark list-inline-item" type="button"
                                       onclick="location.href='{% url 'offer-retail-update-view' obj.offer.id obj.retail.id %}'"
                                       value="Edit"/>
                            </li>
                            <li class="list-inline-item mr-0">
                                <input class="btn btn-danger list-inline-item" type="button"
                                       onclick="location.href='{% url 'offer-retail-delete-view' obj.offer.id obj.retail.id %}'"
                                       value="Remove"/>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        {% endfor %}
    {% else %}
        <p class="ml-3">No Retails in this Company </p>
    {% endif %}
</div>