<div class="container mt-0 d-none">
    {% if retail.offer_set.all %}
        {% for object in retail.offer_set.all %}
            <div class="mb-3">
                <ol class="list-group list-group-flush col-lg-auto">
                    <li class="list-group-item"><strong>{{ object }}</strong></li>
                    {% for instance in object.offerretail_set.all|slice:'10' %}
                        <li class="list-group-item ml-4 disabled d-none">{{ instance.retail}} : {{ instance.quantity }} </li>
                    {% endfor %}
                </ol>
            </div>
        {% endfor %}
    {% else %}
        <p class="ml-3">No Offer for this Retail</p>
    {% endif %}
</div>