{% extends 'production_assist/base.html' %}

{% block title %}Retail List{% endblock %}

{% block content %}
    <h2>Retails</h2>
    {% for object in object_list %}
        <div class="mt-3 mb-3">
            <ol class="list-unstyled list-group list-group-flush col-lg-7 list-">
                <li class="list-group-item"><strong>{{ object }}</strong></li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Material: </strong>{{ object.material }}</li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Drawing Number: </strong>{{ object.drawing_number }}</li>
                <li class="ml-4 d-none">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark"
                                   type="button" onclick="location.href='{{ object.get_absolute_url }}'"
                                   value="More info"/>
                        </li>
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark"
                                   type="button"
                                   onclick="location.href='{% url 'company-detail-view' object.company.id %}'"
                                   value="Company"/>
                        </li>
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark list-inline-item" type="button"
                                   onclick="location.href='{% url 'company-retail-update-view' object.company.id object.id %}'"
                                   value="Edit"/>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    {% include 'production_assist/js-list-show-siblings.html' %}
{% endblock %}
