<div class="container-fluid mt-0 d-none">
    {% if object.retail_set.all %}
        {% for retail in object.retail_set.all %}
            <div class="mb-3">
                <ol class="list-group list-group-flush col-lg-12">
                    <li class="list-group-item"><strong>{{ retail }}</strong></li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Material: </strong> {{ retail.material }}
                    </li>
                    <li class="list-group-item ml-4 disabled d-none">
                        <strong>Drawing number: </strong>{{ retail.drawing_number }}
                    </li>
                </ol>
            </div>
        {% endfor %}
    {% else %}
        <p class="ml-3"> #TO DO ADD BUTTONS! </p>
        {#      TODO ADD BUTTONS      #}
    {% endif %}
</div>