{% extends 'production_assist/base.html' %}

{% block title %}Retail List{% endblock %}

{% block content %}
    <span class="h2 pull-left">Retail</span>
    <input class="btn btn-dark mb-2 d-inline" type="button"
           onclick="location.href='{% url 'retail-create-view' %}'" value="Add"/>
    {% for obj in object_list %}
        <div class="mt-3 mb-3">
            <ol class="list-unstyled list-group list-group-flush col-lg-7 list-">
                <li class="list-group-item"><strong>{{ obj }} - {{ obj.company }}</strong></li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Material: </strong>{{ obj.material }}</li>
                <li class="list-group-item ml-4 d-none disabled">
                    <strong>Drawing number: </strong>{{ obj.drawing_number }}</li>
                <li class="ml-4 d-none">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark"
                                   type="button" onclick="location.href='{{ obj.get_absolute_url }}'"
                                   value="More info"/>
                        </li>
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark"
                                   type="button"
                                   onclick="location.href='{% url 'company-detail-view' obj.company.id %}'"
                                   value="Company"/>
                        </li>
                        <li class="list-inline-item mr-0">
                            <input class="btn btn-dark list-inline-item" type="button"
                                   onclick="location.href='{% url 'retail-update-view' obj.id %}'"
                                   value="Edit"/>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    {% include 'production_assist/list-show-siblings-js.html' %}
{% endblock %}
